body {
  margin: 0;
  background-color: black;
  color: red;
  font-family: monospace;
}

#overlay {
  padding: 20px;
}

#terminal {
  margin-bottom: 10px;
  white-space: pre-wrap;
}

#command {
  background: black;
  color: red;
  border: none;
  outline: none;
  font-family: monospace;
  font-size: 16px;
  width: 90vw;
}
